@charset "UTF-8";

.form {
	width: 100%;
	max-width: 400px;
}

.container {
	margin-top: 50px;
}

.botao-margin {
    margin-bottom: 10px;
}

th, td {
    border: 2px solid black;
    text-align: center;
}

td {
	padding: 0.7em;
}


table {
	width: 100%;
}
